NODE_ENV=
PORT_HTTP=
PORT_HTTPS=
HOST=
BASE_URL=
# MONGODB_URL=
MONGODB_URL=
# REDIS_URL=
REDIS_URL=
# ELASTIC_SEARCH=
ELASTIC_SEARCH=
FACE_INDEX=
PLATE_INDEX=
HUMAN_INDEX=
SABOTAGE_INDEX=
REQUEST_LOG_DIR=
RECORD_STREAM_TIME=
SESSION_SECRET=
TREACKER_SEARCH_URL=
MODELS=
KAFKA_BOOTSTRAP=
MAX_LOAD=
LOGTYPES=
MDPATH=
SIGNAL_TOPIC=
SIGNAL_KEY=
MAX_CAMERAS=
SQLITE_PATH=
